body{
    margin: 0px;
  
}
h1{
    font-size: 16px;
    text-align: center;
    margin-top: 1px;
    color: white;
}
p{
    font-size: 12px;
    text-align: justify;
    color: black;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
img{
    width: 100%;
}
li{
    color: white;
}
.main{
    width: 100%;
    margin: auto;
}
.content{
    width: 99.80%;
    margin: auto;

}
article h1{
    color: blue;
}
article li{
    color: black;
    font-size: 12;
    margin-left: 2px;
    display: inline;
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
}
progress{
    height: auto;
    background-color: orange;
    width: 100%;
    background-color: blue;
}
#a .video{
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(64, 3, 230);
}
.video .img{
    width: 50%;
}
.video .ul{
    width: 100%;
}
.ul li{
    display: flex;
    font-size: 12px;
    margin-left: -2.5em;
}
article{
    overflow-y: scroll;
   
}

.point p{
    color: yellow;
    width: 50px;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    margin: auto;
    margin-bottom: 1en;
    border:none;
    margin-left: 0.3em;
    
}
#a .chapitre{
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding: auto;
    height: auto;
    background-color: gainsboro;
    border: 2px solid;
    border-bottom-color: orange;
    opacity: 0.9;
    color: black;
}
.chapitre #h1-1{
    color: black;
}
section{
    width: 100%;
    background-image: url("../images/background.jpg");
   
}
#n2{
    display: none;
}
#aa, #nva{
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    border:2px solid blue;
    transition: 1s ease;
    animation: 2s;
    
}

#bb, #nvb{
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    border:2px solid red;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
    
}
#cc{
    display: none;
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    border:2px solid orange;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
   
}

.chapitre #h1-2, #h1-3, #h1-4{
    display: none ;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#dd{
    display: none;
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    border:2px solid yellow;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
   
}

#ee{
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    border:2px solid green;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
   
}
#ff{
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    border:2px solid rgb(3, 94, 136);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
   
}
#gg{
    display: none;

}
#gg button{
    width: 100%;
    background: blue;
    color: white;
    text-align: center;
}
#ag{
    display: none;
}
#form{
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    border:2px solid rgb(3, 94, 136);
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    transition: 1s ease;
    animation: 2s;
   
}
button:focus{
    background-color: blue;

}

.bar-btn{
    display: flex;
    width: auto;
    height: auto;
 

   
}
.bar-btn button{
    border: 1px solid blue;
    margin: 2px;
    height: 25px;
}
#point2, #pb, #pc{
    display: none;
}
#point3{
    display: none;
}
#point4{
    display: none;
}
#point5{
    display: none;
}
#point6{
    display: none;
}


article{
    width: 100%;
    height: auto;
    margin: 0.4em;
    padding: 0.3em;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
  
}


#front_page_blur{
    transition: 1s ease;
    animation: 2s;
    }

    article img {
        padding: 1px;
        transition: transform .2s; /* Animation */
        width: 100%;
        height: 200px;
        margin: 0 auto;
      }
      
      article img:hover {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
      }
      #myDIV{
          border: 1px solid;
          border-radius: 15px;
          background-color: black;
          margin-right: 1em;
             width: 400px;
          height: 130px;
          display: none;
          overflow: hidden;
          
      }
      #btnform{
          background-color: orange;
          width: 100%;
          border-top-left-radius: 15px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 0px;
          border-bottom-right-radius: 0px;
          margin-top: 0px;
          margin-left: 0px;
      }
      #btnform, input{
            margin: 0.4em;
            margin-bottom: 1px;
            width: 93%;
      }
      #btnform, .btn{
        width: 100%;
  }
      #btnform button{
          background-color: blue;
          color: white;
          border: none;
          border-top-left-radius: 15px;
          border-top-right-radius: 0px;
          
      }

