body{
    margin: 0px;
  
}
h1{
    font-size: 16px;
    text-align: center;
    margin-top: 1px;
    color: white;
}
p{
    font-size: 12px;
    text-align: justify;
}
img{
    width: 100%;
}
li{
    color: white;
}
.main{
    width: 100%;
}
.content{
    width: 99.80%;
    margin: auto;
}
progress{
    height: auto;
    background-color: orange;
    width: 100%;
    background-color: blue;
}
#a .video{
    overflow: hidden;
    width: 100%;
    height: auto;
    background-color: rgb(64, 3, 230);
}
.video .img{
    width: 50%;
}
.video .ul{
    width: 100%;
}
.ul li{
    display: flex;
    font-size: 12px;
    margin-left: -2.5em;
}
article{
    overflow-y: scroll;
   
}

.point p{
    color: yellow;
    width: 50px;
    height: auto;
    overflow: hidden;
    font-size: 14px;
    margin: auto;
    margin-bottom: 1en;
    border:none;
    margin-left: 0.3em;
    
}
#a .chapitre{
    width: 100%;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding: auto;
    height: auto;
    background-color: gainsboro;
    border: 2px solid;
    border-bottom-color: orange;
    opacity: 0.9;
    color: black;
}
.chapitre #h1-1{
    color: black;
}
section{
    width: max-content;
    background-image: url("../images/background.jpg");
   
}
#aa{
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    border:2px solid blue;
    
}

#bb{
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    border:2px solid red;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
    
}
#cc{
    display: none;
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    border:2px solid orange;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
   
}

.chapitre #h1-2, #h1-3, #h1-4{
    display: none ;
    color: black;
    font-size: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
#dd{
    display: none;
    display: none;
    margin: auto;
    margin-top: 0.4em;
    margin-bottom: 0.4em;
    width: 98%;
    background-color: white;
    border:2px solid yellow;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
   
}
button:focus{
    background-color: blue;

}

.bar-btn{
    display: flex;
    width: auto;
    height: auto;
    margin: auto;

   
}
.bar-btn button{
    border: 1px solid blue;
    margin: 2px;
    height: 25px;
}
#point2{
    display: none;
}
#point3{
    display: none;
}
#point4{
    display: none;
}

article{
    width: 100%;
    height: auto;
    margin: 0.4em;
    padding: 0.3em;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85); 
    box-shadow: 0px 2px 3px 1px rgba(0,0,0,0.85);
  
}