
body{
	margin: 1px;
}
* {
  box-sizing: border-box;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 2px;
}

html {
  font-family: "Lucida Sans", sans-serif;
}


.footer {
  background-color: #0099cc;
  color: #ffffff;
  text-align: center;
  font-size: 12px;
  padding: 1px;
}

/* For mobile phones: */
[class*="col-"] {
  width: 100%;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10h {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
.col-3{
	width: 100%;
	border: 2px solid red;
	margin: 0px;
	padding: 5px;
}
img {
	width: 100%;
}
article{
	width: 100%;
	margin-bottom:0.5em;
	overflow: hidden;
	-webkit-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 3px 2px rgba(0,0,0,0.75);
}
article h1{
	font-size: 14px;
	margin-top:1px;
	margin-bottom:1px;
}

article p{
	font-size: 13px;
	margin-top: 1px;
	margin-bottom:3px;
	margin: 3px;
	text-align:justify;
}
article .btn a{
	font-size: 12px;
	text-decoration:none;
	text-align:right;
	border: 2px solid;
	text-decoration:none;
}

article .btn a, em{
	font-size: 12px;
	text-decoration:none;
	text-align:right;
	color: red;
	margin: 2px;
}
.item{
	 border: 2px solid orange;
	 padding: auto;
}
.item ul{
	display: flex;
	justify-content: space-around;
	justify-content: center;
	
	margin: auto;
}

.item ul li{
	border: 2px solid blue;
	height: auto;
	width: 135.8px;   
	text-align: center; 
	list-style: none;  
	font: normal bold 13px/1em Arial, Verdana, Helvetica;  
	padding: 0;
	margin: 2px;
	justify-content: space-around;
	justify-content: center;
	
}
.item #b{
	margin-right:2em;
	
}
#rech{
	background: blue;
	height: 30px;
	padding: 0.2em;
}
#rech{
	display: flex;

}
#search{
	border-radius: 15px;
	width: 100;
}
#button{
	border-radius: 15px;
}
#rech .r{
	width: 25px;
	height: 25px;
	border-radius:25px;
	border: 2px solid;
	margin-bottom: 0.3em;
	margin-left: 0.2em;
	background: orange;
}