#omega{
    padding:0 0.1em;
}
#omega-button{
    display:none;
}
#omega-content nav ul {
    display:inline-block;
    margin-right:1em;
}
#omega-content nav li{
    font-size: 14px;
    display: flex;
}
#omega-content nav ul li a{
    padding:0 0.5em;
    color: blue;
}
#omega-content nav ul li, #omega-content #logo, #omega-content nav {
    display: inline-block;
}
.omega-links{
    display:inline-block;
}
#omega-content{
    float: right;
}
#omega-overlay {
    display: none;
    position: fixed;
    z-index: 10;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: rgba(0, 0, 0, .5);
}
#omega-sidebar{
    display:none;
    position: fixed;
    width:80%;
    z-index: 20;
    height:100%;
    top:0;
    left:0;
    background-color: #ffffff;
    transform: translateX(-100%);
    transition: transform .2s ease-in-out;
}
#omega-sidebar-header{
    background-image: url(https://i.ytimg.com/vi/6xeceo5BaSk/hqdefault.jpg);
    background-size: 100%;
    background-repeat:no-repeat;
    height:180px;
}
#omega-sidebar-body{
    padding:0.1em;
}
#omega-sidebar-body nav ul li{
    list-style: none;
    display: block;
}
#omega-sidebar-body nav ul li:before{
    content: ' ';
    
    display: inline-block;
    vertical-align: middle;
    width:24px;
    height:24px;
    margin-right:5px;
    margin-bottom: -1.5em;
}

#omega-sidebar-body nav ul li a{
    display: inline-block;
    text-transform: none;
    font-weight:700;
    padding:0.1em;
    text-decoration: none;
    font-style: normal; 
    color: black; 
    font-size: 14px; 
    text-decoration: none;
    margin-bottom: -0.5em;
}
#omega-sidebar-body nav ul li a:hover{
    color:#9b4dca;
}
#omega-sidebar-body .omega-links a{
    display:block;
    margin-bottom:1em;
    margin-right: 0.5em;
}

 hr{
    margin-top: -0.2em;
    border: 1px solid;
}

@media only screen and (max-width: 850px){

    #omega-content{
        display:none;
    }
    #omega-button{
        float: right;
        cursor: pointer;
    }
    .omega-links{
        display: block;
        margin-top:2em;
    }
    #omega-button, #omega-sidebar, .omega-activated #omega-overlay{
        display:block;
    }
    .omega-activated #omega-sidebar{
        transform: translateX(0);
    }
}

body{
    margin:0;
}
header {
    background-color: blue;
    overflow: hidden;
    margin-bottom: 0.5em;
    height: 50px;
    
}
.container {
    margin-top: 0px; 
    display: block;
    margin: 0px;
    
  }
  .phone {
    background-color: none;
    border-radius: 0px;
    width: 100%;
    height: auto;
    Display: flex;
    justify-content: center;
    align-items: center;
   
  }
  .content {
    border-radius: 2px;
    width: 100%;
    height: 91%;
    background-color: #F5F6FA;
    overflow: hidden;
  }
ul {
    margin:0;
    padding:0;
}
.small-text{
    display:block;
    font-style: italic;
    font-size:0.9em;
    margin-top:0.3em;
}
h1.title{
    text-transform: uppercase;
    font-size:1.2em;
    font-weight:700;
}
.button, button{
    margin-bottom:0;
}
#logo{
    display:inline-block;
    margin-right:2em;
    color:#FFF;
    font-weight: 400;
    font-size: 1.5em;
}
section{
    background-color: #faf9f9;
    padding:4em;
    text-align:center;
    margin-bottom:0.1em;
}
section h1{
    font-weight: 500;
}
.bloc{
    margin-bottom:0.1em;
    padding:1em;
    border-radius:8px 8px 8px 8px;
    border:1px solid #f5f5f5;
}
.bloc.primary{
    background-color:#9b4dca;
    color:#ffffff;
    border-color:#9b4dca;
}
.chapter{
    display:inline-block;
    margin-right:0.5em;
    font-weight:600;
    color:#9b4dca;
}
footer{
    background-color:#f2f2f2;
    text-align: center;
    padding:0.5em 0;
    margin-top:0.2em;
    
}
.button{
    background-color: blue;
    border: blue;
    padding: 0.3em;
    border-radius: 5px;
    color: #FFF;
    text-align: center;
    box-shadow: 1px 1px 1px 1px black;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
nav{
    color: blue;
}


#app{
   
    padding: 0px;
}
#coutenue{
    width: 99%;
    margin: 0px;
 margin: 0.2em;
    border: 0px solid;
    margin: auto;
    margin-top: -0.8em;
    margin-bottom: 1.4em;
    box-shadow: 1px 1px 1px 1px black;
}
#coutenue h1{
    font-size: 18px;
    text-align: center;
    color: #FFF;
    margin-top: 0.1em;
    background-color: blue;
}
#coutenue p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    margin-right: 0.3em;
    margin-left: 0.3em;
    margin-top: -0.4em;
}
.content{
    width: 99%;
    border: 0px solid;
    display: block;
    overflow: hidden;
    overflow: auto;
}
#akey h1{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFF;
    text-shadow: 4px 2px 2px black;
}
#akey h2{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #FFF;
    text-shadow: 4px 2px 2px black;
}
#akey p{
    text-align: justify;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    text-decoration: none;
    
}
#akey a{
	text-decoration: none;
}

@media only screen and (min-width: 850px){
    #coutenue{
        width: 99%;
        padding-left: 0.5em;
        padding-right: 0px;
        box-shadow: 0px 4px 2px 1px black;
        border: 2px solid;
        margin-right: 0px;
    }

}



#lirelasuite {
display:none;
}
#horaire{
	display: none;
}
#btn{
	border: 2px solid;
	margin: auto;
}
#btn a{
 	border: 2px solid red;
 	background-color: red;
 	padding: 0.3em;
 	text-decoration: none;
 	color: #FFF;
 	box-shadow: 1px 2px 0px 2px black;
}
.li{
	display: flex;
	margin-bottom: 0.2em;
}

.li img{
	width: 20px;
	margin-bottom: -4px;
	margin-left: -1.3em;
}
#coutenue1{
	margin-top: -0.9em;
	margin-bottom: 1em;
}

#l{
	display:flex;
	margin-top: -0.1em;
	overflow: hidden;
	
}
#l div:hover{
    overflow: visible;
}
#l div{
    
    overflow: hidden;
	width: 100%;
	margin-top: 0.4em;
	margin-bottom: 0.1em;
	margin-right: 0.1em;
	margin-left: 0.2em;
    padding: 0.1em;
	font-size: 12px;
    color: black;
    opacity: 0.7;
    background-color: #f5f5f5;
	text-align: justify;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#l #comp{
	width: 75%;
	margin-right: 0.2em;
	-webkit-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 1px 1px 5px 0px rgba(0,0,0,0.75);
}
#akey{
    border: 2px solid;
    margin-bottom: 1em;
    display: block;
    background-image: url(images/accueil.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
#l p{
    opacity: none;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-family: 'Times New Roman', Times, serif;
 
    padding-left: 0.1em;
    padding-right: 0.1em;
    font-display: block;
    display: block;
    margin-top: 0.1em;
    margin-bottom: 1em;
    
}
#l a{
    margin-top: 1em;
}
iframe{
	border: 2px solid blue;
	background-color: black;
}
.liste{
	box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow:inset 0px 0px 5px 0px rgba(0,0,0,0.75);
	display: flex;
	margin-top: 0.2em;
	padding: 0.3em;
	overflow: auto;
	overflow: hidden;
}

.liste .des{
	width: 100%;
	border: 2px solid orange;
    
}
.liste .bt{

	height:50px;
	background: blue;
	margin: auto;
    
	border: 2px solid;
	border-color: blue;
	
}
.bt button{
 	margin-top: 0.2em;
 	margin-right: 0.2em;
    margin-left: -0.2em;
 	border-radius: 25px;
 	background: blue;
 	color: #FFF;
 	padding: 1em;
 	padding-right: 0.5em;
 	padding-left: 0.5em;
}

.bt button a{
 	text-decoration: none;
 	color: #FFF;

}
#home{
	position: fixed;
	height: 7%;
	bottom: 1%;
	float: right;
	border-radius: 55px;
	background: blue;
	padding: 0.3em;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
#home img{
	width: 45px;
	height: 40px;	
}