header{
    display: flex;
    height: 30px;
    background-color: blue;
    width: 100%;
    margin-top: -28px;

}
.ttr_title_position{
    display: flex;
}
.article{
    border: 1px solid;
    border-radius: 10px;
    margin: 0.5em;
    box-shadow: 1px 1px 0px 2px black;
  
}
.article .corver{
    height: 100px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px ;
    background-color: cornflowerblue;
    background-image: url('images/Slide2.GIF');
}
.article .images{
    margin: auto;
    margin-top: -9em;
    border-radius: 10px;
    width: 150px;
    height: 100px;
}
.article .h1{
    font-size: 14px;
    color: blue;
    text-align: center;
    margin-top: 1px;
    margin-bottom: 1px;
}

.article .des{
    text-align: center;
}

.article .btn0{
    display: flex;
    margin: auto;
}

.article .btn{
    width: 100%;
    margin:0.48em 0em 0.48em 0em;
    padding: 1px;
    text-align:Center;
    align-items: center;
    align-content: center;
}

p{
    font-size: 12px;
}
.html_content li{
    font-size: 12px;
}
.html_content{
    border: 2px solid;
    margin: 0.2em;
}
#bar{
    display: flex;
    justify-content: space-around;
}