.akey{
  margin-bottom: 1px;
}
.espas{
  height: 15px;
  background-color: blue;
  margin-top: -1em;
}
.colonne1{
  margin-top: -1em;
  
}
.colonne1-2{
  margin-top: 1em;
}
.colonne{
    border: 1px solid;
    width: 100%;
    border-radius: 5px;
    margin: 0.1em;
    background-color: white;
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
}
.colonne h1{
  text-align: center;
  font-size: 14px;
  margin: 1px;
}
.colonne p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.colonne img{
  width: 50px;
  margin: auto;
}
.html_content{
  padding: 0.3em;
}

.colonne2 h1{
  font-size: 14px;
  text-align: center;

}
.colonne2 p{
  font-size: 18px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

}
.colonne a{
  border: 2px solid;
  border-radius: 10px;
  padding: 0.2em;
  margin-bottom: 0.2em;

}

.form1{
  margin: 1.5em;
  background-color: cornflowerblue;
  -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.125);
  padding: 1.5em;
}
.form1 .form-control, textarea, label{
  margin: 1em;
  margin-bottom: 1px;
  margin-top: 1px;
  width: 90%;
  
}

video{
	width: 100%;
	display: block;
}
audio { 
	margin-top:1em;
  width: 100%; 
  box-shadow: 5px 5px 20px rgba(0,0, 0, 0.4);
  border-radius: 90px;
  transform: scale(1.05);
  margin: auto;
}
#audio{
	border: 2px solid orange;
	background-color: black;
	height: 100%;
	display: block;
	overflow: auto;
	
	
}
#audio button{
	margin: auto;
	border: 2px solid blue;
	width: 100%;
	
}
#article p{
  font-size: 12px;

}